body{text-align:center;
     background:#F6F6F6;
  color:#E0144C;}
font-family: 'Montserrat', sans-serif;
h1{font-size:70px;}
p{font-size:40px;
    color:#E0144C}
a{color:#E0144C;
text-decoration:none;}
.bar{font-size:50px;
     padding:0px;
     margin:0px;}
ul{display:flex;
   text-align:center;
   background-color:#34374C;}
li{padding-left:55px;
   padding-right:55px;
   padding-top:0px;
   margin-top:0px;
   list-style:none;
   font-size:30px;}
