body{text-align:center;
     background:#F6F6F6;
     font-size:50px;
     font-family: 'Montserrat', sans-serif;
  font-style:italic;
  font-weight: bold;}
.p1{font-size:100px;
    padding:10px;
    margin-left:150px;
    margin-right:150px;
    margin-top:0px;
    margin-bottom:0px;
    color:#111111;
    background-color:#EEEEEE;}
.p2{font-size:50px;
    color:#111111}
a{color:#111111;
  text-decoration:none;}
ul{display:flex;
   text-align:center;
   background-color:#E0144C;
   margin-top:0px;}

li{list-style:none;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  font-size:30px;}
