body{text-align:center;
     background:#F6F6F6;
     font-size:50px;
font-family: 'Montserrat', sans-serif;
  font-style:italic;
  font-weight: bold;}

.p1{font-size:100px;
    padding:20px;
    margin-left:250px;
    margin-right:250px;
    margin-top:0px;
    margin-bottom:0px;
    color:#111111;
  background-color:#EEEEEE;}

.ul2{list-style:disc;
     border-top:solid;
     border-bottom:solid;
     border-width:15px;
     border-color:#E0144C;
     padding:30px;}

.li2{font-size:50px;
    color:#111111;}

.li3{font-size:30px;
     color:#111111;
     list-style:circle;}

a{color:#111111;
  text-decoration:none;}

.ul1{display:flex;
  text-align:center;
     
img{width:100px; height:auto;
   margin-top:0px;}

.li1{list-style:none;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  font-size:30px;}

.ul3{display:flex;
     list-style:none;}

.li4{margin:auto;}
